.div_title p {
	font-size: 18px;
	font-weight: bold;
	font-family: Verdana, 'Lucida Grande', Arial, Helvetica, sans-serif;
	color: #0070bb;
	margin-top: 50px;
}

.dotline {
	border-top: 1px solid #D6D6D6;
	height: 1px;
	margin-bottom: 10px;
	margin-top: 0.5em;
}

#about_score {
	padding-right: 220px;
	background: url(../images/score2011.gif) top right no-repeat;
	
}

.img_portrait {
	-moz-box-shadow: 1px 1px 5px #555;
	-webkit-box-shadow: 1px 1px 5px #555;
}

#instructor {
	padding-left: 220px;
	background: url(../images/portrait/dongshao.jpg) top left no-repeat;
}

#nju {
	padding-right: 220px;
	background: url(../images/nju.png) top right no-repeat;
}

#swi {
	padding-left: 150px;
	background: url(../images/swi.png) top left no-repeat;
}
